<a href="https://colab.research.google.com/github/maidacencoanastasia/python_coursera/blob/main/Data_Science_Tools_and_Ecosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Convert time units (e.g., minutes to hours)
- Demonstrate the use of Data Science tools and libraries
- Explain the basics of Jupyter Notebook operations
- Understand fundamental concepts of model evaluation and deployment

## Author

Anastasia MAIDACENCO

Some of the popular languages that Data Scientists use are:


1.   R
2.   Python
3.   Java
4.   SQL

Some of the commonly used libraries used by Data Scientists include:


1.   NumPy
2.   PyTorch
3.   SciPy
4.   Pandas

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Apache Zeppelin              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335